%h1= title
%h2= "Next Status Update Meetup: 12:00 BRT – Umeboshi HQ"
%h3= "Useful links"

%ul
  %li=
    %a{ href: "http://localhost:8082/" } "Local Web Server (dev)"
  %li=
    %a{ href: "http://umeboshi-fireteam.no.de/" } "Joyent Web Server"
  %li=
    %a{ href: "https://github.com/nko/umeboshi-fireteam" } "Github Repository"
  %li= 
    %a{href: "http://nodeknockout.com/teams/umeboshi-fireteam#"} "Umeboshi Fireteam@NodeKO"
  %li= "Other"
    %ul=
      %ul=
        %li=
          %a{href: "http://nodejs.org/api.html"} "Node.js API documentation"
        %li=
          %a{href: "http://github.com/LearnBoost/Socket.IO-node"} "Socket.IO-node git"
        %li=
          %a{href: "http://faye.jcoglan.com/"} "Faye"
        %li=
          %a{href: "http://github.com/visionmedia/express"} "Express"
        %li=
          %a{href: "http://github.com/creationix/haml-js"} "HAML-JS"
  
