%h1= "Channel created at #{channelURL}"
%h2= "Instructions"
%p= "Add the following snippet at your page:"
%blockquote
  = "&lt;script src='#{pubsubJSFile}'&gt;&lt;/script&gt;<br/><br/>"
  = "&lt;script type='text/javascript'&gt; <br/>"
  = "//&lt;![CDATA[ <br/>"
  = "var client = new Faye.Client('#{pubsubURL}', {timeout:120}); <br/>"
  = "<br/>"
  = "function pub() { <br/>"
  = "&nbsp;&nbsp;&nbsp;client.publish('/#{channelName}', {text: 'Hello world'}); <br/>" 
  = "} <br/>"
  = "//]]&gt; <br/>"
  = "&lt;/script&gt; <br/>"
